* {
  font-size: large;
  font-family: Helvetica, Arial, sans-serif;
  margin: 5px;
}

canvas {
  display: block;
  padding: 10px;
  border: 1px solid black;
}

hr {
  margin: 20px 5px;
}

h2 {
  font-size: x-large;
}

textarea, output {
  font-family: monospace;
  font-size: larger;
}

table, th, td {
  border: dotted 1px black; 
  border-collapse: collapse;
  padding: 5px;
}

.controls-key {
  font-family: 'Courier New', Courier, monospace;
  font-size: 28px;
  font-weight: bold;
  background-color: #6080c0;
  border-radius: 20%;
  padding: 0px 4px;
  margin: 5px
}

.start-key {
  color: #47e652;
}
.wall-key {
  color: #323232;
}
.clear-key {
  color: #c8c8c8;
}

.slider {
  -webkit-appearance: none;
  width: 220px;
  height: 7px;
  transform: translateY(10%);
  border-radius: 5px;
  background: gray;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  cursor: ew-resize;
  background: black;
}

.gradient-slider {
  background: linear-gradient(to right, #e93535, #ff9500, #e5ff00, #47e652);
}

/* Input Thumb */
.gradient-slider::-webkit-slider-thumb {
  background: #0091ff;
}