* {
  font-size: large;
  font-family: Helvetica, Arial, sans-serif;
  margin: 5px;
}

canvas {
  display: block;
}

hr {
  margin: 20px 5px;
}

table, th, td {
  border: dotted 1px black; 
  border-collapse: collapse;
  padding: 5px;
}